In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import seaborn as sns

# visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('/home/otavio/ml/datasets/forbes/forbes-2017.csv')

In [3]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
sectors = data['Sector'].value_counts(normalize=True)
sectors.to_csv('sectors.csv')

In [13]:
br = data[data['Country'] == 'Brazil'].head(50)
br[:10][['Company']].head(10).to_csv('br.csv')
# data['Sector'].unique()

In [6]:
gb = data.groupby('Sector')['Profits'].sum()
gb.sort_values().to_csv('profits.csv')

In [7]:
countries = pd.read_csv('/home/otavio/ml/datasets/utils/countries.csv')

In [8]:
data = data.merge(countries, how='left', right_on='Name', left_on='Country')
data

,Rank,Company,Country,Sales,Profits,Assets,Market Value,Sector,Industry,Region,SubRegion,Name,Code,PT,ImageURL
0,1,ICBC,China,151.400,42.000,3473.2,229.800,Financials,Major Banks,Asia,NaN,China,CN,China,https://upload.wikimedia.org/wikipedia/commons...
1,2,China Construction Bank,China,134.200,35.000,3016.6,200.500,Financials,Regional Banks,Asia,NaN,China,CN,China,https://upload.wikimedia.org/wikipedia/commons...
2,3,Berkshire Hathaway,United States,222.900,24.100,620.9,409.900,Financials,Investment Services,Americas,North America,United States,US,Estados Unidos,https://upload.wikimedia.org/wikipedia/en/a/a4...
3,4,JPMorgan Chase,United States,102.500,24.200,2513.0,306.600,Financials,Major Banks,Americas,North America,United States,US,Estados Unidos,https://upload.wikimedia.org/wikipedia/en/a/a4...
4,5,Wells Fargo,United States,97.600,21.900,1943.4,274.400,Financials,Major Banks,Americas,North America,United States,US,Estados Unidos,https://upload.wikimedia.org/wikipedia/en/a/a4...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,BEKB-BCBE,Switzerland,0.555,0.131,27.9,1.700,Financials,Regional Banks,Europe,NaN,Switzerland,CH,Suíça,https://upload.wikimedia.org/wikipedia/commons...
1996,1997,Fastighets Balder,Sweden,0.630,0.639,10.2,3.800,Materials,NaN,Europe,NaN,Sweden,SE,Suécia,https://upload.wikimedia.org/wikipedia/en/4/4c...
1997,1998,Akamai Technologies,United States,2.300,0.316,4.4,10.100,Information Technology,Computer Services,Americas,North America,United States,US,Estados Unidos,https://upload.wikimedia.org/wikipedia/en/a/a4...
1998,1999,Oita Bank,Japan,0.523,0.071,27.9,0.595,Financials,Regional Banks,Asia,NaN,Japan,JP,Japão,https://upload.wikimedia.org/wikipedia/en/9/9e...
1999,2000,Tech Mahindra,India,4.200,0.469,3.6,6.700,Information Technology,NaN,Asia,NaN,India,IN,Índia,https://upload.wikimedia.org/wikipedia/en/4/41...

In [9]:
data['PT'].value_counts(normalize=True)

Estados Unidos            0.299681
Japão                     0.121679
China                     0.106270
Reino Unido               0.048353
Coreia do Sul             0.034006
França                    0.031350
Índia                     0.030818
Canadá                    0.030818
Alemanha                  0.027099
Suíça                     0.024442
Austrália                 0.020723
Itália                    0.014346
Rússia                    0.014346
Suécia                    0.013815
Países Baixos             0.012752
Espanha                   0.012221
Irlanda                   0.010627
Brasil                    0.010627
Arábia Saudita            0.009033
Cingapura                 0.009033
México                    0.007970
Tailândia                 0.007439
Malásia                   0.007439
Emirados Árabes Unidos    0.007439
Peru                      0.006376
Dinamarca                 0.006376
África do Sul             0.005313
Bélgica                   0.004782
Noruega                   0.004782
Israel                    0.004782
Finlândia                 0.004782
Filipinas                 0.004251
Áustria                   0.004251
Catar                     0.004251
Chile                     0.003719
Grécia                    0.003719
Colômbia                  0.003188
Indonésia                 0.003188
Polônia                   0.002657
Portugal                  0.002657
Luxemburgo                0.002657
Vietnã                    0.002125
Marrocos                  0.001594
Kuweit                    0.001594
Venezuela                 0.001594
Argentina                 0.001594
Hungria                   0.001063
Líbano                    0.001063
Nigéria                   0.001063
Bahrain                   0.001063
Egito                     0.000531
República Checa           0.000531
Omã                       0.000531
Mongólia                  0.000531
Paquistão                 0.000531
Jordânia                  0.000531
Name: PT, dtype: float64