In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import seaborn as sns

# visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('/home/otavio/ml/datasets/covid/covid.csv', encoding = "ISO-8859-1")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14090 entries, 0 to 14089
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  13905 non-null  object
 1   location                  14090 non-null  object
 2   date                      14090 non-null  object
 3   total_cases               14090 non-null  int64
 4   new_cases                 14090 non-null  int64
 5   total_deaths              14090 non-null  int64
 6   new_deaths                14090 non-null  int64
 7   total_cases_per_million   13804 non-null  float64
 8   new_cases_per_million     13804 non-null  float64
 9   total_deaths_per_million  13804 non-null  float64
 10  new_deaths_per_million    13804 non-null  float64
 11  total_tests               3448 non-null   float64
 12  new_tests                 3071 non-null   float64
 13  total_tests_per_thousand  3448 non-null   float64
 14  new_tests_per_thousand    3076 non-null   float64
 15  tests_units               3448 non-null   object
dtypes: float64(8), int64(4), object(4)
memory usage: 1.7+ MB

In [4]:
data = data[['location', 'date', 'total_deaths']]
data.to_csv('covid.csv')

In [5]:
new_data = data.pivot_table('total_deaths', ['location'], 'date')
new_data = new_data.fillna(0)
new_data = new_data.reset_index()
new_data

date,location,2019-12-31,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,...,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26,2020-04-27,2020-04-28,2020-04-29
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.0,35.0,36.0,40.0,42.0,43.0,47.0,57.0,57.0,60.0
1,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.0,26.0,26.0,27.0,27.0,27.0,27.0,28.0,28.0,30.0
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,375.0,384.0,392.0,402.0,407.0,415.0,419.0,425.0,432.0,437.0
3,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36.0,36.0,37.0,37.0,37.0,40.0,40.0,40.0,40.0,41.0
4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Western Sahara,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
205,World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,165051.0,170277.0,177217.0,183244.0,190599.0,195768.0,201987.0,205906.0,210825.0,216563.0
206,Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
207,Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
208,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0

In [7]:
new_data = new_data.merge(countries[['Country', 'ImageURL']], how='inner', right_on='Country', left_on='location')
new_data

NameError: name 'countries' is not defined

In [ ]:
from googletrans import Translator
gt = Translator()
new_data['location'] = new_data['location'].apply(lambda x: gt.translate(text=x.replace('_', ' '), src='en', dest='pt').text)
new_data
new_data[['location', 'Country']].to_csv('/home/otavio/ml/datasets/utils/merda.csv')

In [ ]:
new_data.to_csv('covid.csv')