In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import seaborn as sns

# visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('/home/otavio/ml/datasets/Brasil/des_gen.csv')

In [3]:
data

                                 Taxa de desocupação   por sexo
0  Sexo; ;1º trimestre 2012;2º trimestre 2012;3º ...        NaN
1  Homens;Brasil;6.2;6.1;5.8;5.7;6.5;6;5.6;5.1;5....        NaN
2  Mulheres;Brasil;10.2;9.3;8.8;8.3;9.9;9.3;8.6;7...        NaN
3  Total;Brasil;7.9;7.5;7.1;6.9;8;7.4;6.9;6.2;7.2...        NaN
4  Fonte: "IBGE - Pesquisa Nacional por Amostra d...        NaN