In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import seaborn as sns

# visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('https://query.data.world/s/ok7amqbjdegxmltbromkxkxwndcg4n')

In [4]:
data

,Confederation,Stadium,City,HomeTeams,Capacity,Country,IOC,Population
0,UEFA,Stadiumi Besëlidhja,Lezhë,Besëlidhja,7000,Albania,ALB,2876591
1,UEFA,Stadiumi Flamurtari,Vlorë,Flamurtari Vlorë,8200,Albania,ALB,2876591
2,UEFA,Stadiumi Laçi,Laçi,KF Laçi,5000,Albania,ALB,2876591
3,UEFA,Stadiumi Niko Dovana,Durrës,Teuta,12040,Albania,ALB,2876591
4,UEFA,Stadiumi Selman Stërmasi,Tirana,"KF Tirana, Dinamo, Partizani",9500,Albania,ALB,2876591
...,...,...,...,...,...,...,...,...
2019,UEFA,Liberty Stadium,Swansea,Swansea City,21088,Wales,WAL,3125000
2020,UEFA,Parc y Scarlets,Llanelli,"Scarlets, Llanelli RFC",14870,Wales,WAL,3125000
2021,UEFA,Park Avenue,Aberystwyth,Aberystwyth Town,5000,Wales,WAL,3125000
2022,UEFA,Principality Stadium,Cardiff,-,74500,Wales,WAL,3125000
2023,UEFA,Racecourse Ground,Wrexham,Wrexham AFC,15850,Wales,WAL,3125000

In [57]:
pop = data.groupby('Country')['Population'].max().to_frame().reset_index()
pop['perhab'] = pop['Country'].map(places) / pop['Population']
pop.sort_values('perhab', ascending=False, inplace=True)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
new_pop =

In [70]:
cou = pd.read_csv('/home/otavio/ml/datasets/utils/countries.csv')
cou

     Index                      Name   Code               PT
0        0               Afghanistan     AF      Afeganistão
1        1             Aland Islands     AX      Ilhas Aland
2        2                   Albania     AL          Albânia
3        3                   Algeria     DZ          Argélia
4        4            American Samoa     AS  Samoa Americana
..     ...                       ...    ...              ...
246    246                    Zambia     ZM           Zâmbia
247    247                  Zimbabwe     ZW         Zimbábue
248    248  United States of America     US   Estados Unidos
249    249                     Butan  Butão              NaN
250    250                   England    NaN       Inglaterra

[251 rows x 4 columns]

In [39]:
new_pop = pop.merge(cou, left_on='Country', right_on='Name')

In [55]:
# new_pop.drop(['index', 'English', 'Code', 'Country'], axis=1, inplace=True)
new_pop.head(10).to_csv('perhab.csv')

In [71]:
places = data.groupby('Country')['Capacity'].sum().to_frame().reset_index()
places = places.merge(cou, left_on='Country', right_on='Name', how='left')

In [73]:
places.sort_values('Capacity', ascending=False, inplace=True)
places.head(10).to_csv('stad.csv')

In [85]:
brasil = data[data['Country'] == 'Brazil']
brasil = brasil[brasil['Stadium'] != 'Estádio Olímpico Monumental']
brasil['fullname'] = brasil['Stadium'] + ' (' + brasil['HomeTeams'] + ')'
brasil.sort_values('Capacity', inplace=True, ascending=False)
brasil.head(10).to_csv('bra.csv')

In [86]:
data['fullname'] = data['Stadium'] + ' (' + data['HomeTeams'] + ')'
data.sort_values('Capacity', inplace=True, ascending=False)
data.head(10).to_csv('mond.csv')