In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np

In [18]:
cou = pd.read_csv('/home/otavio/Downloads/countries.csv')
cou

                  Name Code
0          Afghanistan   AF
1        Aland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
243  Wallis and Futuna   WF
244     Western Sahara   EH
245              Yemen   YE
246             Zambia   ZM
247           Zimbabwe   ZW

[248 rows x 2 columns]

In [19]:
from googletrans import Translator
gt = Translator()
cou['PT'] = cou['Name'].apply(lambda x: gt.translate(text=x, src='en', dest='pt').text)

In [21]:
cou.to_csv('countries.csv')