In [2]:
# data analysis and wrangling
import pandas as pd
import numpy as np

In [8]:
# https://www.kaggle.com/fernandol/countries-of-the-world#countries%20of%20the%20world.csv
world = pd.read_csv('/home/otavio/ml/datasets/utils/guerra/countries of the world.csv')

In [11]:
world

,Country,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65","46,6","20,34","0,38","0,24","0,38"
1,Albania,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49","15,11","5,22","0,232","0,188","0,579"
2,Algeria,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53","17,14","4,61","0,101","0,6","0,298"
3,American Samoa,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,"22,46","3,27",NaN,NaN,NaN
4,Andorra,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78","8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13","31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",NaN,NaN,NaN,NaN,"0,4"
224,Yemen,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98","42,89","8,3","0,135","0,472","0,393"
225,Zambia,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34","28,01","21,84","0,179","0,243","0,579"

In [21]:
hdi = pd.read_csv('/home/otavio/ml/datasets/utils/guerra/hdi.csv')

In [23]:
hdi = hdi[['Country', '2018']]
hdi

                                               Country   2018
0                                          Afghanistan  0.496
1                                              Albania  0.791
2                                              Algeria  0.759
3                                              Andorra  0.857
4                                               Angola  0.574
..                                                 ...    ...
202                          Least Developed Countries  0.528
203                     Small Island Developing States  0.723
204  Organization for Economic Co-operation and Dev...  0.895
205                                              World  0.731
206                                                NaN    NaN

[207 rows x 2 columns]

In [24]:
world = world.merge(hdi, on='Country', how='left')
world

,Country,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service,2018
0,Afghanistan,31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65","46,6","20,34","0,38","0,24","0,38",NaN
1,Albania,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49","15,11","5,22","0,232","0,188","0,579",NaN
2,Algeria,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53","17,14","4,61","0,101","0,6","0,298",NaN
3,American Samoa,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,"22,46","3,27",NaN,NaN,NaN,NaN
4,Andorra,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78","8,71","6,25",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13","31,67","3,92","0,09","0,28","0,63",NaN
223,Western Sahara,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",NaN,NaN,NaN,NaN,"0,4",NaN
224,Yemen,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98","42,89","8,3","0,135","0,472","0,393",NaN
225,Zambia,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",41,"19,93","0,22","0,29","0,489",NaN
226,Zimbabwe,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34","28,01","21,84","0,179","0,243","0,579",NaN