In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rn
import seaborn as sns

# visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('/home/otavio/ml/datasets/world-data/food/live-stock.csv')

In [3]:
data.drop('Domain', axis=1, inplace=True)

In [4]:
data.dropna(inplace=True)

In [5]:
data['Value'] = data['Value'].apply(lambda x: int(x))
data

            Area Element      Item  Year       Unit     Value
0    Afghanistan  Stocks    Cattle  2018       Head   5022606
1    Afghanistan  Stocks  Chickens  2018  1000 Head     14152
2    Afghanistan  Stocks     Sheep  2018       Head  14023689
3        Albania  Stocks    Cattle  2018       Head    467318
4        Albania  Stocks  Chickens  2018  1000 Head      7272
..           ...     ...       ...   ...        ...       ...
810       Zambia  Stocks     Sheep  2018       Head    261987
811     Zimbabwe  Stocks    Cattle  2018       Head   5446674
812     Zimbabwe  Stocks  Chickens  2018  1000 Head     20149
813     Zimbabwe  Stocks      Pigs  2018       Head    267088
814     Zimbabwe  Stocks     Sheep  2018       Head    436920

[807 rows x 6 columns]

In [6]:
cattle = data[data['Item'] == 'Cattle']
cattle.sort_values('Value', ascending=False, inplace=True)
cattle

/home/otavio/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                          Area Element    Item  Year  Unit      Value
94                      Brazil  Stocks  Cattle  2018  Head  213523056
350                      India  Stocks  Cattle  2018  Head  184464035
773   United States of America  Stocks  Cattle  2018  Head   94298000
147                      China  Stocks  Cattle  2018  Head   63417928
156            China, mainland  Stocks  Cattle  2018  Head   63271250
..                         ...     ...     ...   ...   ...        ...
539                       Niue  Stocks  Cattle  2018  Head        113
175               Cook Islands  Stocks  Cattle  2018  Head        112
11              American Samoa  Stocks  Cattle  2018  Head        111
799  Wallis and Futuna Islands  Stocks  Cattle  2018  Head         60
630  Saint Pierre and Miquelon  Stocks  Cattle  2018  Head         38

[211 rows x 6 columns]

In [19]:
cou = pd.read_csv('/home/otavio/ml/datasets/utils/countries.csv')
cou

,Name,Code,PT,ImageURL
0,Afghanistan,AF,AfeganistÃ£o,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,AL,AlbÃ¢nia,https://upload.wikimedia.org/wikipedia/commons...
2,Algeria,DZ,ArgÃ©lia,https://upload.wikimedia.org/wikipedia/commons...
3,Andorra,AD,Andorra,https://upload.wikimedia.org/wikipedia/commons...
4,Angola,AO,Angola,https://upload.wikimedia.org/wikipedia/commons...
...,...,...,...,...
184,Vietnam,NaN,VietnÃ£,https://upload.wikimedia.org/wikipedia/commons...
185,Russia,NaN,RÃºssia,https://upload.wikimedia.org/wikipedia/en/f/f3...
186,United States of America,US,Estados Unidos,https://upload.wikimedia.org/wikipedia/en/a/a4...
187,Iran (Islamic Republic of),NaN,IrÃ£,https://upload.wikimedia.org/wikipedia/commons...
188,Russian Federation,NaN,RÃºssia,https://upload.wikimedia.org/wikipedia/en/f/f3...

In [8]:
cattle = cattle.merge(cou, how='left', left_on='Area', right_on='Name')

In [9]:
cattle.drop(['Name', 'Code', 'Item'], axis=1, inplace=True)

In [10]:
cattle = cattle[cattle['Area'] != 'China, mainland']

In [11]:
cattle.head(10).to_csv('cattle.csv')

In [21]:
chick = data[data['Item'] == 'Chickens']
chick.sort_values('Value', ascending=False, inplace=True)
chick = chick.merge(cou, how='left', left_on='Area', right_on='Name')
chick = chick[chick['Area'] != 'China, mainland']
chick.head(10).to_csv('chicken.csv', index=False)

/home/otavio/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
pork = data[data['Item'] == 'Pigs']
pork.sort_values('Value', ascending=False, inplace=True)
pork = pork.merge(cou, how='left', left_on='Area', right_on='Name')
pork = pork[pork['Area'] != 'China, mainland']
pork.head(10).to_csv('pork.csv', index=False)

/home/otavio/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
sheep = data[data['Item'] == 'Sheep']
sheep.sort_values('Value', ascending=False, inplace=True)
sheep = sheep.merge(cou, how='left', left_on='Area', right_on='Name')
sheep = sheep[sheep['Area'] != 'China, mainland']
sheep.head(10).to_csv('sheep.csv', index=False)

/home/otavio/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
pork.head(10)

,Area,Element,Item,Year,Unit,Value,Name,Code,PT,ImageURL
0,China,Stocks,Pigs,2018,Head,447175334,China,CN,China,https://upload.wikimedia.org/wikipedia/commons...
2,United States of America,Stocks,Pigs,2018,Head,74550200,United States of America,US,Estados Unidos,https://upload.wikimedia.org/wikipedia/en/a/a4...
3,Brazil,Stocks,Pigs,2018,Head,41443594,Brazil,BR,Brasil,https://upload.wikimedia.org/wikipedia/en/0/05...
4,Spain,Stocks,Pigs,2018,Head,30804102,Spain,ES,Espanha,https://upload.wikimedia.org/wikipedia/en/9/9a...
5,Viet Nam,Stocks,Pigs,2018,Head,28151948,NaN,NaN,NaN,NaN
6,Germany,Stocks,Pigs,2018,Head,26445400,Germany,DE,Alemanha,https://upload.wikimedia.org/wikipedia/en/b/ba...
7,Russian Federation,Stocks,Pigs,2018,Head,23075510,Russian Federation,NaN,RÃºssia,https://upload.wikimedia.org/wikipedia/en/f/f3...
8,Mexico,Stocks,Pigs,2018,Head,17838900,Mexico,MX,MÃ©xico,https://upload.wikimedia.org/wikipedia/commons...
9,Canada,Stocks,Pigs,2018,Head,14170000,Canada,CA,CanadÃ¡,https://upload.wikimedia.org/wikipedia/en/c/cf...
10,France,Stocks,Pigs,2018,Head,13324723,France,FR,FranÃ§a,https://upload.wikimedia.org/wikipedia/en/c/c3...